$body-color: #8a1111;
$container-color:rgba(236, 236, 232, 0.75);
$font-stack-context: 'Audiowide', sans-serif; /*context text*/
$font-stack-navbar: 'Fascinate Inline', sans-serif; /*nav bar text*/

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: $body-color;
    background-image: url('film.jpg');
    padding-top: 100px;
}

nav{
    font-family: $font-stack-navbar;
    padding-bottom: 5px !important;
    padding-top: 5px !important;

    a#logo{
        font-size: 2em !important;
        color: $body-color;
    }
    li a{
        font-size: 1.4em;
    }
        button[role='submit']{
        height: 4.5%;
    }
        input[role='text']{
        width: 300px !important;
    }
}


.container{
        font-family: $font-stack-context;
        background-color: $container-color;
        button{
            height: 4.5%;
        }
        input{
            width: 300px !important;
        }
}



// ------------------  Index.ejs ------------

div.movie-list-item {
    padding: 10px;
    cursor: pointer;
    .poster-container {
        height: 200px;
        width: 150px;
    }
    .movie-poster {
        max-height: 200px;
        max-width: 150px;
    } 
    .released-date {
        margin-top: 20px;
    }
    &:hover {
        background-color: rgba(119, 117, 117, 0.7);
    }   
}


//------------------- Movie.ejs ------------
div#movie-details{
    .movie-poster {
        max-height: 350px;
        max-width: 262px;
    }
    .buttons {
        text-align: center;
    }

} 

.movie-link {
    color: inherit;
    &:hover {
    color: inherit;
    text-decoration: none;
    }
}

h1.movie-page{
    margin-left: 20px;
}
img.movie-page{
    margin-top:25px;
    margin-left: 45px;
}

/* ------------- Search Page ------------------ */
div.searchBody{ 
    margin-bottom: 400px;
    p{//'Your results:'
        margin: 10px 0 20px 35px;
        font-size: 18px;
    }
    ul{
        list-style: none;
    }
    li{
        margin-bottom: 30px;
        a{
            font-size: 20px;
            color: #630c0c;
        }    
    }
    
}


/* ----------- Animated Search Bar ---------- */
// input[type=text] {
//     width: 150px;
//     box-sizing: border-box;
//     border: 2px solid #ccc;
//     border-radius: 4px;
//     font-size: 16px;
//     background-color: white;
//     padding: 12px 20px 12px 4px;
//     -webkit-transition: width 0.4s ease-in-out;
//     transition: width 0.4s ease-in-out;
// }

// input[type=text]:focus {
//     width: 70%;
// }